<div style="width:800px;">
  <h2>Minimum Airline Fare :
    <span style="text:20px;">{{ fare1 }}&nbsp;{{currency1}}&nbsp;+&nbsp;{{ fare2 }}&nbsp;{{currency2}}</span>
    &nbsp;
    <span id="fare" style="color:red">
      =&nbsp;{{ total }}&nbsp;{{currency1}}
    </span>
  </h2>
  <br>
  <div id="search">
    View more options:<br>
    <a href = "{{ start }}" target="_blank" id="result_start">{{ start }}</a>
    <a href = "{{ end }}" target="_blank" id="result_end">{{ end }}</a>
  </div>
</div>
